@import '../../assets/styles/variables.css';

.infos {
    position: relative;
    top: -100px;
    z-index: 10;
}

/* Add some spacing between the info cards on smaller screens */
@media (max-width: 767px) {
    .infos {
        top: -50px;
    }
    
    .infos .row {
        margin-left: 0;
        margin-right: 0;
    }
}